*env/
.ipynb_checkpoints/
*environment/
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_genes_r1.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_genes_r2.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_intron_r1.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_intron_r2.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/intron_between.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/intron_between_nointron.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/subread-2.0.2-Linux-x86_64/test/featureCounts/data/test-minimum.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_genes_r1.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_genes_r2.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_intron_r1.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/across_intron_r2.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/intron_between.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/intron_between_nointron.bam
snakemake/shellScripts/subread-2.0.2-Linux-x86_64/test/featureCounts/data/test-minimum.bam
hla-env/
rnaseq_task_env/
rnaseq_task_environment/
deconvolution/
abundance.h5
abundance.tsv
